@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.brown-text {
    color: #cb8461;
}
.curved-underline {
    position: absolute;
    left: 0px;
    top: 68px;
    width: 180px;
}
.curved-underline-about {
    position: absolute;
    left: 0px;
    top: 55px;
    width: 240px;
}
.description-heading {
    padding-top: 90px;
}
.description-heading-font {
    font-size: 50px !important;
}
.description-heading-2 {
    margin: 0px 400px;
}
.hero-section h1 {
    font-size: 2rem;
}
.description {
    width: 60%;
}
.hero-section-mobile-icons {
    position: relative;
    top: 0px;
}
.hero-section-play-icon {
    position: absolute;
    background-color: #7252a4;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    top: 300px;
    right: -50px;
    transform: rotate(15deg);
    transform-origin: top left;
}

.subscribe {
    background-color: #f4ede6;
    position: relative;
    height: 320px;
    background-position: center;
    margin-top: 40px;
    margin: 40px 50px;
    border-radius: 10px;
}

.subscribe::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    top: 0;
}
.subscribe img {
    height: 450px;
    transform: translateY(-130px);
}

.join {
    background-color: #f4ede6;
    position: relative;
    height: 250px;
    background-position: center;
    margin-top: 40px;
    margin: 40px 50px;
    border-radius: 10px;
}
.join img {
    height: 450px;
    transform: translateY(-130px);
}

.join::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    top: 0;
}

.join-button-container {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

@media (max-width: 991px) {
    .join {
        height: 290px;
    }
    .join-button-container {
        margin-top: -30px;
        flex-direction: column;
        align-items: center;
    }

    .join-button-container button {
        /* margin-bottom: 10px; */
        font-size: 10px;
    }
}
.profile-heading-2 {
    color: #808080;
    width: 380px;
    font-family: Poppins, sans-serif;
    line-height: 2.5;
}
.profile-heading-3 {
    color: #808080;
    font-family: Poppins, sans-serif;
    line-height: 2.5;
}
.react-multi-carousel-dot-list {
    display: none !important;
}
.brown-dot-course {
    position: absolute;
    right: 350px;
    top: 60px;
}

.brown-box-course {
    position: absolute;
    left: 350px;
    top: 20px;
}
.course-carousel-body {
    margin: 0px 150px;
}

.course-play {
    position: absolute;
    left: 108px;
    top: 50px;
}
.about-icon-details {
    margin-top: 10px;
}
.price-card {
    width: 250px;
    border: none !important;
}
.price-card button {
    width: 80%;
    border: none !important;
    background: #fffaf8;
    color: #fdc2a6;
    border-radius: 50px;
    font-size: 12px;
}
.price-card:hover {
    background-color: #245d51 !important;
    color: white !important;
    box-shadow: 0px 20px 30px #245d51;
    transition: 0.1s ease-in-out background-color;
    cursor: pointer;
    position: relative;
    bottom: 40px;
    button {
        background: #cb8461;
        color: white;
    }
}

.price-card::before {
    content: "";
    position: absolute;
    top: 100;
    right: 0;
    width: 40%;
    height: 140%;
    background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 1px, transparent 2px);
    clip-path: polygon(50% 22%, 100% 0%, 100% 50%, 10% 40%);
    opacity: 0.1;
    pointer-events: none;
}

.price-card:hover::before {
    opacity: 0.3; /* Adjust the opacity to make the lines visible */
}
@media (max-width: 1400px) {
    .course-play {
        left: 80px;
        top: 50px;
    }
    .about-icon-details {
        margin-top: -10px;
    }
}
@media (max-width: 1200px) {
    .description-heading-2 {
        margin: 0px 200px;
    }
    .brown-dot-course {
        right: 50px;
    }
    .brown-box-course {
        left: 50px;
    }
    .course-carousel-body {
        margin: 0px 0px;
    }
    .course-play {
        left: 108px;
        top: 50px;
    }
}
@media (max-width: 991px) {
    .hero-section-icons {
        margin-top: 30px;
    }
    .curved-underline {
        top: 14px;
        width: 120px;
        left: -20px;
    }
    .curved-underline-about {
        top: 10px;
        width: 130px;
        left: 0px;
    }
    .description {
        width: 100%;
    }
    .hero-section {
        text-align: center;
    }
    .hero-section img {
        margin-top: 20px;
    }
    .client-logo {
        margin: 10px;
    }
    .subscribe h2 {
        font-size: 18px;
    }
    .join h2 {
        font-size: 18px;
    }
    .description-heading-font {
        font-size: 25px !important;
    }
    .profile-heading {
        text-align: center;
    }
    .profile-heading-2 {
        width: 100%;
        font-size: 12px;
    }
    .course-play {
        left: 280px;
        top: 50px;
    }
    .about-icon-details {
        margin-top: 20px;
    }
    .price-card {
        width: 100%;
    }
    .price-card-body {
        margin: 0px 40px 0px 40px !important;
    }
    .price-card:hover {
        bottom: 0px;
    }
}
@media (max-width: 768px) {
    .hero-section-mobile-icons {
        top: 90px;
    }
    .description-heading-2 {
        margin: 0px 20px;
    }
    .brown-dot-course {
        right: 20px;
    }
    .course-play {
        left: 180px;
        top: 50px;
    }
    .about-icon-details {
        margin-top: 10px;
    }
}

@media (max-width: 514px) {
    .hero-section-play-icon {
        top: 390px;
    }
    .brown-box-course {
        top: 15px;
        left: 10px;
    }
    .course-play {
        left: 130px;
        top: 50px;
    }
    .about-icon-details {
        font-size: 12px;
    }
}
